<div class="container">
    <h1>Editar Cliente</h1>

    <form action="/updateCliente" method="post">
    <!-- Input para NOME -->
        <div class="content_inputs">
          <label for="nome" class="form-label">Nome</label>
          <input type="hidden" value="{{idCliente}}" name="idCliente" class="form-control">
          <input type="text" class="form-control" id="nome" name="nome" value="{{nome}}" required>
        </div>

        <!-- Input para EMAIL -->
        <div class="content_inputs">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="{{email}}" required>
        </div>

        <!-- Input para TELEFONE -->
        <div class="content_inputs">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="tel" class="form-control" id="telefone" name="telefone" value="{{telefone}}" required>
        </div>

        <!-- Input para TELEFONE -->
        <div class="content_inputs">
          <label for="data_nasc" class="form-label">Data Nascimento</label>
          <input type="text" class="form-control" id="data_nasc" name="data_nasc" value="{{data_nasc}}" required>
        </div>

        <!-- Botão de Submit -->
        <div class="flex_column options_add_item">

          <a href="/clientes"><button type="button" class="btn_option">Cancelar</button></a>
          
          <button type="submit" class="btn_option btn">Salvar</button>
        </div>
    </form>
</div>